*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "WCS";
  src: url("HAIDUO1H.TTF");
}

@font-face {
  font-family: "raleway";
  src: url("Raleway-Regular.ttf");
}

@font-face {
  font-family: "varela";
  src: url("VarelaRound-Regular.ttf");
}

:root {
  --primary-color: #df9393;
  --primary-font: 'WCS';
  --background-color: #FFFFFF;
}

body {
  background-color: var(--background-color);
  font-family: raleway;
}

body h1, h2, h3, h4, h5, h6 {
  font-family: varela;
}

.subtitle {
  padding: 1rem;
}

/* Début partie Jaafar */

#courses-title {
  text-align: center;
  padding: 1rem;
}

.subparts {
  font-weight: bolder;
  color: black;
  line-height: 1.5;
}

.courses {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.courses-details {
  display: flex;
  flex-direction: column;
}

#quests, #live-coding, #lessons, #projects {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 50vh;
  
  
  background-color: hsl(0, 90%, 70%, 0.7);

  border-radius: 15% / 25%;

  
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 700px) {
 
  .courses {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .courses-details {
    text-align: center;
  }

  #quests, #live-coding, #lessons, #projects {
    border-radius: 25% / 10%;
  }
 
}

/* Fin partie Jaafar */

/* Début CSS Simon */
article {
  font-size: 1rem;
}

.logo-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.logo {
  max-height: 4rem;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button li a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  text-align: center;
}

.button li a img {
  width: 1.5rem;
  margin: 0.5rem 0 0.5rem 0;
}

.lead-article {
  display: flex;
  justify-content: center;
  line-height: 1.5;
}

.lead-details {
  display: flex;
  justify-content: center;
}

.lead-summary {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.lead-img {
  max-width: 100%;
  margin: auto;
}

.lead-h1 {
  text-align: center;
  padding: 0 1rem 0 1rem;
}

.lead-h2 {
  text-align: center;
  padding: 0 1rem 0 1rem;
}

.lead-paragraph {
  padding: 0 1rem 1rem 1rem;
}

.sticky {
  position: sticky;
  bottom: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: white;
  border-top: 1px solid lightgrey;
  padding: 1rem;
}

.navbar li a {
  text-align: center;
  text-decoration: none;
  color: black;
}

footer {
  margin-top: 4rem;
}

@media screen and (min-width: 700px) {
  .logo {
    max-width: 20%;
    height: auto;
  }
  .button li a img {
    min-width: 20%;
    margin: 0.5rem 0 0.5rem 0;
  }

}

/* Fin CSS Simon */

/* CSS Quentin */


/* Retirer puce ul */

ul{
  list-style-type: none ;
}

/* Div Scrool Border + taille + Scrool droite 
 Alignement centrer + margin  */ 

.scroll {
  width: 100%;
  overflow-x: scroll;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
  
   
}

/*taille image + padding */

.scroll img{
margin: 0.5rem;
max-width: 150px;
}
/* align h4*/

li h4 {
  text-align: center;
}


    
  

/*     Changer couleur img noir et blanc 

-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera 

filter: grayscale(100%); Firefox */


/* Fin CSS Quentin */
.partners {
  padding-top: 1rem;
  text-align: center;
}

.events-title {
  margin-top: 1rem;
  padding-top: 1rem;;
  text-align: center;
}
.actu {
  width: 100%;
  overflow-x: scroll;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding: 0.5rem;
  align-items: baseline;
  font-size: 1rem;
}

.actu img {
  max-width: 150px;
 
}

.actu h5 {
  text-align: center;
  padding: 0.2rem;
  font-weight: normal;
}

.actu h6{
  text-align: center;
  padding: 0.5rem;
  color: #f76c6c
}
.actu h5 {
  text-align: center;
  padding: 0.2rem;
  font-weight: normal;
}

.actu #test1 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0.2rem;
  border-right:0.5px solid lightgray;
 
 }

.actu #test2 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0.2rem;
  border-right: 0.5px solid lightgray;
 
}

.actu #test3 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0.2rem;
  border-right: 0.5px solid lightgray;
 
}


.actu #test4 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0.2rem;
  border-right: 0.5px solid lightgray;

}

.actu #test5 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0.2rem;
 
}

/* Début CSS Théo */

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.img-container {
  width: 50%;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 5%;
}

.article-container summary {
  display: flex;
  flex-direction: row-reverse;
  min-height: 200px;
  max-height: 30vh;
}

body .article-container:nth-child(odd) summary {
  flex-direction: row;
}

.article-container article {
  padding: 1rem;
  line-height: 1.5;
}

.title-container h3 {
  text-align: center;
}
.title-container h4 {
  text-align: center;
}

.article-container {
  margin: 0.1rem 0 0.1rem 0;
}

.article-title {
  text-align: center;
}

@media screen and (min-width: 1024px) {

  .article-container {
    margin: 0.1rem 15vw 0.1rem 15vw;
  }

  .img-container {
    width: 30%;
  }

  .title-container {
    width: 70%;
  }

}
/* Fin CSS Théo */
