*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

/*
-webkit-filter: grayscale(100%);   

filter: grayscale(100%);

*/

.old-school * {
-webkit-filter: grayscale(100%);   
filter: grayscale(100%);
font-family: "oldNewsPapers";
}

@font-face {
  font-family: "WCS";
  src: url("HAIDUO1H.TTF");
}

@font-face {
  font-family: "raleway";
  src: url("Raleway-Regular.ttf");
}

@font-face {
  font-family: "varela";
  src: url("VarelaRound-Regular.ttf");

}

@font-face {
  font-family: "oldLondon";
  src: url(OldLondon.ttf);
}
@font-face {
  font-family: "oldNewsPapers";
  src: url(OldNewspaperTypes.ttf);
}

:root {
  --primary-color: #df9393;
  --primary-font: 'WCS';
  --background-color: #FFFFFF;
}

body {
  background-color: var(--background-color);
  font-family: raleway;
  display: flex;
  flex-direction: column;
}

body h1, h2, h3, h4, h5, h6 {
  font-family: varela;
}

.subtitle {
  padding: 1rem 1.1rem 0 1.1rem ;
  text-align: center;
}

/* Début partie Jaafar */

#courses-title {
  text-align: center;
  padding: 1.1rem;
}

.subparts {
  font-weight: bolder;
  color: black;
  line-height: 1.25;
}

.courses {
  padding: 1rem 1.1rem 0 1.1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.courses-details {
  display: flex;
  flex-direction: column;
}

#quests, #live-coding, #lessons, #projects {
  display: flex;
  flex-direction: column;
  padding: 1.1rem;
  height: 30vh;
  gap: 1rem;
  
  background-color: hsl(0, 90%, 70%);
  color: white;
  border-radius: 15% / 25%;

  
  justify-content: center;
  align-items: center;
  text-align: center;
}

.list-style {
  width: 1rem;
  cursor: pointer;
}


#projects li a {
  text-decoration: none;
  color: inherit;
  transition-property: color, transform;
  transition-duration: 0.3s;
}

#projects li a:hover {
  color: black;
  transform: scale(1.2);
  display: inline-block;
}


@media screen and (min-width: 700px) {
 
  .courses {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .courses-details {
    text-align: center;
    padding-bottom: 3rem;
  }

  #quests, #live-coding, #lessons, #projects {
    border-radius: 25% / 10%;
    height: 40vh;
  }
}

/* Fin partie Jaafar */

/* Début CSS Simon */
p {
  font-size: 1rem;
  text-align: justify;
}

header {
  order: -1;
}

.logo-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.logo {
  max-height: 4rem;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
}
.button li a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  text-align: center;
}

.button li a img {
  width: 1.5rem;
  margin: 0.5rem 0 0.5rem 0;
}

.lead-article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.25;
}

.lead-img {
  max-width: 100%;
  margin: auto;
  margin: 0 1.1rem 1.1rem 1.1rem; 
  border-radius: 0.5rem;
}

.lead-h1 {
  text-align: center;
  padding: 0.5rem 1.1rem 0.5rem 1.1rem;
  font-size: 1.75rem;
}

.lead-h2 {
  text-align: center;
  padding: 0.5rem 1.1rem 1rem 1.1rem;
  font-size: large;
}

.lead-paragraph {
  padding: 0 1.1rem 1.1rem 1.1rem;
}

.sticky {
  position: sticky;
  bottom: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background: var(--background-color);
  border-top: 1px solid lightgrey;
  padding: 1.1rem;
  font-weight: bold;
}

.navbar li a {
  text-align: center;
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 700px) {
  .logo {
    max-width: 20%;
    height: auto;
  }
  .lead-img {
    max-width: 70%;
    margin: auto;
    margin-bottom: 1rem; 
  }
  .lead-h1 {
    text-align: center;
    padding: 1rem 15% 1rem 15%;
    font-size: 2rem;
  }
  .lead-h2 {
    text-align: center;
    padding: 0 15% 1rem 15%;
    font-size: large;
  }
  .button {
    display: none;
  }
  .lead-paragraph {
    padding: 0 15% 1rem 15%;
  }
  .sticky {
    top: 0;
    bottom: initial;
    order: -1;
  }
}

/* Fin CSS Simon */

/* CSS Quentin */


/* Retirer puce ul */

ul{
  list-style-type: none ;
}

/* Div Scrool Border + taille + Scrool droite 
 Alignement centrer + margin  */ 

.scroll {
  width: 100%;
  overflow-x: scroll;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
}

/*taille image + padding */

.scroll img{
margin: 0.5rem;
max-width: 150px;
}
/* align h4*/

li h4 {
  text-align: center;
}

.footer-all{
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  padding: 1rem;
  gap: 1rem;
}

.footer-left{
  align-self: center;
}
.footer-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-right h3 {
  text-align:center;
  color: whitesmoke;
}

.jeu {
  text-align: center;
  padding-bottom: 1rem;
}

.jeu h2 {
  padding: 1rem;
}

.button-desktop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
}

.button-desktop li a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  text-align: center;
}

.button-desktop li a img {
  width: 1.5rem;
  margin: 0.5rem 0 0.5rem 0;
}

@media screen and (min-width: 700px) {
  .footer-all {
    flex-direction: row;
  }
  .jeu {
    padding: 3rem 0 3rem 0;
  }
}

/* Fin CSS Quentin */
.partners {
  padding-top: 1rem;
  text-align: center;
}

.events-title {
  margin-top: 1rem;
  padding-top: 1rem;;
  text-align: center;
}
.actu {
  width: 100%;
  overflow-x: scroll;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding: 0.5rem;
  align-items: baseline;
  font-size: 1rem;
}

.actu img {
  max-width: 150px;
 
}

.actu h5 {
  text-align: center;
  padding: 0.2rem;
  font-weight: normal;
}

.actu h6{
  text-align: center;
  padding: 0.5rem;
  color: #f76c6c
}
.actu h5 {
  text-align: center;
  padding: 0.2rem;
  font-weight: normal;
}

.actu #test1 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0.2rem;
  border-right:0.5px solid lightgray;
 
 }

.actu #test2 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0.2rem;
  border-right: 0.5px solid lightgray;
 
}

.actu #test3 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0.2rem;
  border-right: 0.5px solid lightgray;
 
}


.actu #test4 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0.2rem;
  border-right: 0.5px solid lightgray;

}

.actu #test5 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0.2rem;
 
}

/* Début CSS Théo */

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.img-container {
  width: 50%;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 5%;
  cursor: pointer;
}

.article-container summary {
  display: flex;
  flex-direction: row-reverse;
  min-height: 200px;
  max-height: 30vh;
}

body .article-container:nth-child(odd) summary {
  flex-direction: row;
}

body .article-container:nth-child(odd) summary .title-container h3{
  text-align: left;
}

body .article-container:nth-child(odd) summary .title-container h5{
  text-align: left;
}

.title-container h3 {
  width: 100%;
  text-align: end;
}
.title-container h5 {
  width: 100%;
  text-align: end;
}

.article-container {
  margin: 0.1rem 0 0.1rem 0;
}

.article-title {
  text-align: center;
}

.question {
  text-align: center;
  text-decoration: underline;
  margin: 0 1rem;
}

.answer {
  text-align: justify;
  padding: 1rem;
}

@media screen and (min-width: 1024px) {

  .article-container {
    margin: 0.1rem 15vw 0.1rem 15vw;
  }

  .img-container {
    width: 30%;
  }

  .title-container {
    width: 70%;
  }

}


/* Fin CSS Théo */
