/* Parametre global */


*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "WCS";
  src: url("/HAIDUO1H.TTF");
}

:root {
  --primary-color: #f76c6c;
  --primary-font: 'WCS';
  --background-color: whitesmoke;
}

/* CSS Quentin */


/* backgrounf-color body */

body {
  background-color: whitesmoke;
 }

/* Retirer puce ul */

ul{
  list-style-type: none ;
}

/* Div Scrool Border + taille + Scrool droite 
 Alignement vers la droite des div + background 
 et padding  */ 

.scroll {
  border: 1px solid black;
  width: 100%;
  overflow-x: scroll;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  background-color:rgb(255, 192, 186);
}

/*taille image + padding */

.scroll img{
max-width: max-content;
padding: 2rem;
}

/* taille titre h4 + padding*/


.scroll h4 {
  padding: 1rem;
  text-align: center;
}

/* Border right div */

#chat1{
border-right: 2px solid whitesmoke;
margin-top: 1rem;
margin-bottom: 1rem;
}

#chat2{
  border-right: 2px solid whitesmoke;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#chat3{
    border-right: 2px solid whitesmoke;
    margin-top: 1rem;
    margin-bottom: 1rem;

}#chat4{
  border-right: 2px solid whitesmoke;
  margin-top: 1rem;
  margin-bottom: 1rem;
  }

#chat5{
    border-right: 2px solid whitesmoke;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
    
  
      


/*     Changer couleur img noir et blanc 

-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera 

filter: grayscale(100%); Firefox */


/* Fin CSS Quentin */


